.nav-bar {
  display: grid;
  grid-template-columns: 1rem auto 6fr;
  background-color: #3f51b5;
  color: white;
  position: fixed; 
  width: 100%; 
  top: 0; 
  left: 0; 
  height: 45px;
  font-family: Arial;
  z-index: 1;
}
  
  .tabs-section {
    display: flex;
    justify-content: flex-start;
    margin-left: 1rem; /* Add a margin to push the tabs to the left */
  }
  
  button {
    margin-right: 10px;
    text-decoration: none;
    color: white;
    background-color: transparent;
    border: none;
    padding: 10px;
    outline: none;
    height: 45px;
    font-size: 16px;
  }
  
  .active {
    background-color: white;
    color: #3f51b5;
  }
  