<div class="banner">
  <img src="./assets/images/image1.jpg" alt="banner">
</div>
<div class="services-text-box"><br>
  <h1 style="color: white; text-align: center;">Our Services we provide for you <br> on our custom website</h1>
</div>
<div class="normal-text">
  <h2>We provide the best services</h2>
  <p>We provide all kinds of services and we can promise we also have <b>the right product</b> for you on <b>this website.</b> 
    Our company provides the best services in our specific field. We promise only the highest quality services. 
    We are dedicated to delivering the finesta services in the industry, tailored <b>to meet your specific needs.</b> 
    With a wealth of experience and expertise, we guarantee to provide you with <b>top-notch services</b> that meet your expectations. 
    At our company, we are committed to providing you with unparalleled services, always delivered with the highest level of quality and professionalism.</p>
</div>
<img src="./assets/images/image2.jpg" alt="services image" class="serviceimage">
<div class="services-list-box">
  <h1 style="text-align: center;"><br>The services we provide</h1>
  <div class="services-grid">
    <div class="services-grid-item">
      <img src="./assets/images/Eye.png" alt="service 1">
      <p>We promise high quality services through our focus on detail <br> and a mission to deliver <b>the highest quality products.</b></p>
    </div>
    <div class="services-grid-item">
      <img src="./assets/images/Speaker.png" alt="service 2">
      <p>Through our products we'll enable you to reach <b>your desired customers</b> and the right audience to expand your business.</p>
    </div>
    <div class="services-grid-item">
      <img src="./assets/images/ThumbsDown.png" alt="service 3">
      <p>If the ordered product or service should not reach the desired customers or fullfill it's purpose, we offer <b>multiple free reworks.</b></p>
    </div>
  </div>
</div>
<div class="normal-text">
  <p>At our company, we pride ourselves in offering a <b>wide range of services and products</b> to meet all your needs. We guarantee that you will find <b>the perfect solution</b> for you on our website. With a commitment to excellence, we promise to deliver only the <b>highest standard of services</b> in the industry. Trust us to provide you with the best possible experience.</p>
</div>
<app-footer></app-footer>