// big-text.component.scss

.big-text {
    text-align: center;
    margin-top: 60px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    h1 {
      color: #6e6e73;
      display: inline-block;
      margin: 0;
    }
    .you {
      color: black;
      display: block;
    }
  }
  